<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>练眼</string>
	<key>CFBundleExecutable</key>
	<string>EyeTrainer</string>
	<key>CFBundleIdentifier</key>
	<string>com.wenquan.eye-trainer</string>
	<key>CFBundleName</key>
	<string>练眼</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要控制屏幕亮度以进行视力训练</string>
</dict>
</plist>
